{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOME DA EMPRESA</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
</head>
<body style="background-color: #f1f1f1;">
 
        <div class="row header fixed-top">
            <div class="col-8 col-sm-8 col-md-8 col-lg-4">
                <h1>S.O.S Burguer</h1>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-8">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button type="button" class="navbar-toggler" data-target="#menuMovel" data-toggle="collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menuMovel">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{% url 'index' %}" class="nav-link">Cardápio</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'pedidos' %}" class="nav-link">Meus pedidos</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'taxas' %}" class="nav-link">Taxa</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contato</a>
                            </li>
                            {% if carrinho %}
                                <li class="nav-item">
                                    <a href="#" data-toggle="modal" data-target="#modal_carrinho" class="nav-link">Carrinho</a>
                                </li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Logar</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
   
    {% block content %}
    {% endblock %}
    <div class="footer">
        <center>
            <small>
                <span>Git - <a href="https://ahdesenvolvimento.github.io/">https://ahdesenvolvimento.github.io/</a></span>
            </small>
            <br>
            <span>Desenvolvido por Antonio Henrique - 2020 &copy;</span>
        </center>
    </div>
    <script src="{% static 'js/funcoes_js.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>