{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row apresentacao border-top border-bottom">
            <div class="col-12">
                <h3>Bem vindo ao S.O.S Burguer</h3>
            </div>
            <div class="col-12">
                <h6>Fique a vontade para escolher seu pedido</h5>
                    {% if carrinho %}
                        <a href="{% url 'finalizar' %}" class="btn btn-primary" ">Finalizar</a>
                    {% endif %}

            </div>
        </div>
        <div class="row promocoes border-bottom">
            <div class="col-12">
                {% if promocoes %}
                <h4>Promocoes do dia</h4>
                    {% for i in promocoes %}
                        <div class="col-4">
                            {{i.produto}}
                            {{i.dia_promo}}
                            {{i.novo_preco}}
                            <strike>{{i.produto.valor}}</strike>
                            <img src="{{i.produto.imagem.url}}" alt="" width=25%>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row produtos">
            <div class="col-12">
                {% for i in tipo %}
                <div class="titulos">
                    <h5>{{i}}</h5>
                </div>
                <div class="row">
                    {% for produto in produtos %}
                        {% if produto.cod_tipo.tipo == i.tipo %}
                        <div class="modal fade" id="modal{{produto.cod_prod}}" data-toggle="mod">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <input class="modal-title" placeholder="{{produto.nome}}" value="{{produto.nome}}" id="nome" name="nome" type="text" style="width:600px;">
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-12">
                                                <img src="{{produto.imagem.url}}" alt="" width="50%">
                                            </div>
                                            <div class="col-6">
                                                {{produto.ingredientes}}
                                            </div>
                                            <div class="col-6">
                                                {{produto.descricao}}
                                            </div>
                                            <div class="col-6">
                                                <h3>Adicionais</h3>


                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            {% if request.user.is_anonymous %}
                                                <small>Você precisa está logado para adicionar o item ao carrinho</small>
                                                <a class="btn btn-secondary" href="{% url 'login' %}">Logar</a>
                                            {% else %}
                                                <input type="number" id="quantidade" name="quantidade" value="1">
                                                <textarea cols="20" rows="2" name="observacao" id="observacao" placeholder="Observações"></textarea>
                                                <button class="btn btn-secondary" type="submit">Adicionar +R$ {{produto.valor}}</button>
                                            {% endif %}
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 produto">
                            <img src="{{produto.imagem.url}}" alt="" width="25%" data-target="#modal{{produto.cod_prod}}" data-toggle="modal">
                            <p>{{produto.nome}}</p>
                            <p>{{produto.valor}}</p>

                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
