{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid index">
        <p>Bem vindo <strong>{{user.username}}</strong>, fique a vontade para escolher seu pedido</p>
        {% if carrinho %}
            {% for i in pedidos %}
                <a class="btn btn-primary" href="{% url 'finalizar' i.cod_compra %}" type="button">Finalizar pedido {{i.cod_pedido.cod_compra}}</a>
            {% endfor %}
        {% endif %}
        {% for p in primario %}

            <h4 class="nome-alimento">{{p}}</h4>
            <center>
                <div class="row">
                    {% for i in produtos %}
                        {% if i.cod_primario.nome == p.nome %}
                            <div class="modal fade" id="modal{{i.cod_ing}}" data-toggle="modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form method="post" action="">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <input class="modal-title" placeholder="{{i.nome}}" value="{{i.nome}}" id="nome" name="nome" type="text" style="width:600px;">
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-12">
                                                    <img src="{{i.imagem.url}}" alt="" width="50%">
                                                </div>
                                                <div class="col-6">
                                                    {{i.ingredientes}}                                                   
                                                </div>
                                                <div class="col-6">
                                                    {{i.descricao}}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                {% if request.user.is_anonymous %}
                                                    <small>Você precisa está logado para adicionar o item ao carrinho</small>
                                                    <a class="btn btn-secondary" href="{% url 'login' %}">Logar</a>
                                                {% else %}
                                                    <input type="number" id="quantidade" name="quantidade" value="1">
                                                    <button class="btn btn-secondary" type="submit">Adicionar +R$ {{i.valor}}</button>
                                                {% endif %}
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 produto" data-target="#modal{{i.cod_ing}}" data-toggle="modal">
                                <img src="{{i.imagem.url}}" alt="" width="50%">
                                <p>{{i.nome}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </center>
        {% endfor %}
    </div>
    {% if carrinho %}
        {% for i in carrinho %}
            <div class="modal fade" data-toggle="modal" id="modal_carrinho">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">{{i.cod_pedido.cod_compra}}</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            {% for j in prod %}
                                <div class="col-12">
                                    <p>{{j.1}}</p>
                                </div>
                                <div class="col-12">
                                    <p>{{j.2}}</p>
                                    {{j}}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Sair</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
 {% endblock %}