{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <center>
            {% for p in pedidos %}
                <div class="row">
                    <div class="col-12" style="border: solid 2px red;" data-target="#modal_pedidos{{p.cod_pedido}}" data-toggle="modal">
                        <p>Numero do pedido: {{p.cod_pedido}}</p>
                        <p>Status: {{p.status}}</p>
                        <p>{{p.criacao}}</p>
                        <p>Valor do pedido: R$ {{p.total}}</p>
                        <div class="modal fade" data-toggle="modal" id="modal_pedidos{{p.cod_pedido}}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title">{{p.cod_pedido}}</h6>
                                    </div>
                                    <div class="modal-body">
                                        {% for i in produtos %}
                                            {% if p.cod_pedido == i.cod_pedido.cod_pedido %}
                                                <div class="col-6">
                                                    <p>{{i.cod_prod.nome}}</p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </center>
    </div>
{% endblock %}