{% extends 'base_adm.html'%}
{% load static %}
{% block content %}

<div class="container ajustar">
    <div class="row border">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <h3>Cadastro de produtos</h3>
            <form action="" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="nome">Nome do produto</label>
                            <input type="text" name="nome" id="nome" class="form-control">
                            {% if form.nome.errors %}
                                {% for error in form.nome.errors %}
                                    <small class="form-text text-muted">{{error}}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="ingredientes">Ingredientes</label>
                            <input type="text" name="ingredientes" id="ingredientes" class="form-control">
                            {% if form.ingredientes.errors %}
                                {% for error in form.ingredientes.errors %}
                                    <small class="form-text text-muted">{{error}}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <textarea cols="50" rows="5" name="descricao" id="descricao" class="form-control"></textarea>
                            {% if form.descricao.errors %}
                                {% for error in form.descricao.errors %}
                                    <small class="form-text text-muted">{{error}}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="valor">Valor R$</label>
                            <input type="number" name="valor" id="valor" class="form-control">
                            {% if form.valor.errors %}
                                {% for error in form.valor.errors %}
                                    <small class="form-text text-muted">{{error}}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="cod_tipo">Tipo de produto</label>
                            <select name="cod_tipo" required id="id_cod_tipo" class="form-control">
                                <option value="" >Selecione um tipo</option>
                                {% for i in tipos %}
                                <option value="{{i.cod_tipo}}">{{i.tipo}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="imagem">Foto do produto</label>
                            <input type="file" name="imagem" id="imagem" accept="image/*" class="form-control-file">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="tem_adicional">Tem adicional?</label>
                            <select id="tem_adicional" name="tem_adicional" class="form-control">
                                <option>Selecione uma opção</option>
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                
                    
                <button type="submit" class="btn btn-success">Salvar</button>
                
            </form>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
           <h3>Produtos cadastrados</h3>
           <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                </thead>
                {% for i in produtos %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'atualiza_produto' i.cod_prod %}">{{i}}</a></td>
                            <td><a href="{% url 'deletar_produto' i.cod_prod %}">Deletar</a></td>
                            <td><a href="{% url 'deletar_produto' i.cod_prod %}">{{i.ativo}}</a></td>
                        </tr>
                    </tbody>
                {% endfor %}

           </table>
           
        </div>
    </div>


</div>

{% endblock %}
