{% extends 'base_adm.html'%}
{% load static %}
{% block content %}

<div class="container ajustar">
    <div class="row border">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <h3>Cadastro de formas de pagamento</h3>
            <form action="" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="">Nome do bairro</label>
                            {{form.nome}}
                            {% if form.nome.errors %}
                                {% for i in form.nome.errors %}
                                    <small>{{i}}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="">Taxa R$</label>
                            {{form.taxa}}
                            {% if form.taxa.errors %}
                                {% for i in form.taxa.errors %}
                                    <small>{{i}}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Salvar</button> 
            </form>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
           <h3>Bairros cadastrados</h3>
           <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor taxa R$</th>
                    </tr>
                </thead>
                {% for i in taxas %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'atualiza_bairro' i.cod_bairro %}">{{i}}</a></td>
                            <td>{{i.taxa}}</td>
                            <td>
                                <a href="{% url 'deletar_taxa' i.cod_bairro %}">Deletar</a>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}

           </table>
        </div>
    </div>
</div>

{% endblock %}