{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container ajustar">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Bairro</th>
                    <th>Valor</th>
                </tr>
            </thead>
            {% for i in taxas %}
            <tbody>
                <td>{{i.nome}}</td>
                <td>{{i.taxa}}</td>
            </tbody>
            {% endfor %}    
            
        </table>
    </div>
{% endblock %}